<link rel="import" href="../../../bower_components/paper-item/paper-item.html">

<dom-module id="ticket-view-detail">
  <template>
    <style include="shared-styles"></style>
    <style>
      :host {
        display: block;
      }

      .ticket-field {
        padding: 10px;
        font-weight: bold;
        color: #702c0c;
        min-width: 100px;
      }
      .ticket-field:after {
        content: ':';
      }

      paper-item {
        word-break: break-all;
      }

    </style>
    <iris-shared-entities id="shared" namespace="services"></iris-shared-entities>

    <template is="dom-repeat" items="{{fields}}" as="field">
      <paper-item tabindex="-1" hidden$="[[hasField(field)]]">
        <span class="ticket-field">{{field.label}}</span>
        {{field.value}}
      </paper-item>
    </template>

    <paper-icon-button icon="settings" on-tap="showSystemFields"></paper-icon-button>
    <iron-collapse id="collapse">
      <template is="dom-repeat" items="{{system_fields}}" as="field">
        <paper-item tabindex="-1" hidden$="[[hasField(field)]]">
          <span class="ticket-field">{{field.label}}</span>
          {{field.value}}
        </paper-item>
      </template>
    </iron-collapse>

  </template>

  <script>
    (function () {
      'use strict';
      Polymer({
        is: 'ticket-view-detail',
        properties: {
          ticket: {
            type: Object,
            observer: '_ticketChanged'
          }
        },
        ready() {
          this.state_list = {
            'registered': 'Ожидает',
            'called': 'Вызван',
            'processing': 'Обслуживается',
            'booked': 'Выдан, но не зарегистрирован',
            'expired': 'Просрочен',
            'closed': 'Закрыт'
          };

          this.system_fields_to_show = [
            {
              field: '@id',
              label: 'ID',
              transform: function (ticket) {
                if (!ticket)
                  return '';

                return _.isFunction(ticket.getId)
                  ? ticket.getId()
                  : ticket['@id'];
              }
            }
          ];
          this.fields_to_show = [
            {
              field: 'label',
              label: 'Номер'
            }, {
              field: 'code',
              label: 'Код талона'
            }, {
              label: 'ФИО',
              field: 'fio',
              transform: function (ticket) {
                if (!ticket)
                  return '';
                let fio = ticket.user_info.fio;
                return _.map(_.split(fio, ' '), word => _.upperFirst(word)).join(' ');
              }
            }, {
              field: 'service',
              label: 'Услуга',
              transform: (ticket) => {
                let service_id = ticket.service;
                let service = this.$.shared.get(service_id);
                return service
                  ? service.label
                  : service_id;
              }
            }, {
              field: 'state',
              label: 'Текущее состояние',
              transform: (ticket) => {
                if (!ticket)
                  return '';

                return this.state_list[ticket.state];
              }
            }, {
              field: 'service_count',
              label: 'Количество дел'
            }, {
              field: 'prebook_time',
              label: 'Время ПЗ',
              transform: function (ticket) {
                if (!ticket || !ticket.prebook_time)
                  return '';
                let prebook_time = ticket.prebook_time;
                return prebook_time.start + " - " + prebook_time.end;
              }
            }
          ];
        },
        hasField(field) {
          return !field.value;
        },
        showSystemFields() {
          this.$.collapse.toggle();
        },
        _ticketChanged() {
          // console.log('Before transform:', this.ticket);
          if (_.isEmpty(this.ticket)) {
            this.set('fields', []);
            this.set('system_fields', []);
            return;
          }
          let fields = this.transform(this.fields_to_show)
          let system_fields = this.transform(this.system_fields_to_show);

          this.set('fields', fields);
          this.set('system_fields', system_fields);

        },
        transform(field_map) {
          return _.map(field_map, (item) => {
            return {
              value: item.transform
                ? item.transform(this.ticket)
                : this.ticket[item.field],
              label: item.label
            };
          });
        }
      });
    })();
  </script>

</dom-module>
