<link rel="import" href="ticket-view-default.html">

<dom-module id="ticket-view-stateful">
  <template>
    <style include="shared-styles"></style>
    <style>
      :host {
        display: block;
      }
    </style>

    <h2>{{computeHeading(ticket)}}</h2>
    <ticket-view-default id="default" ticket="{{ticket}}"></ticket-view-default>

  </template>

  <script>
    (function() {
      'use strict';
      Polymer({
        is: 'ticket-view-stateful',
        properties: {
          ticket: {
            type: Object
          }
        },
        ready() {
          this.$.default.fields_to_show = this.$.default.fields_to_show.slice(1);
          this.state_list = {
            'waiting': 'Ожидает'
          };
        },
        computeHeading(ticket) {
          let value = this.state_list.hasOwnProperty(ticket.state) ? this.state_list[ticket.state] : 'undefined';

          return `${value} ${ticket.label}`;
        }
      });
    })();
  </script>

</dom-module>