<link rel="import" href="../../../bower_components/paper-item/paper-item.html">

<dom-module id="ticket-view-default">
  <template>
    <style include="shared-styles"></style>
    <style>
      :host {
        display: block;
      }
      
      .ticket-field {
        padding: 10px;
        font-weight: bold;
        color: #702c0c;
      }
      
      .ticket-field:after {
        content: ':';
      }
    </style>

    <template is="dom-repeat" items="{{fields}}" as="field">
      <paper-item>
        <span class="ticket-field">{{field.label}}</span> {{field.value}}
      </paper-item>
    </template>

  </template>

  <script>
    (function() {
      'use strict';
      Polymer({
        is: 'ticket-view-default',
        properties: {
          ticket: {
            type: Object,
            observer: '_ticketChanged'
          }
        },
        ready() {
          this.fields_to_show = [{
            field: 'label',
            label: 'Номер'
          }, {
            label: 'ФИО',
            transform: function(ticket) {
              if (!ticket) return '';
              let client = ticket.client;

              let name = client.name[0] + '.';
              let lastname = client.lastname;
              let middlename = client.middlename ? client.middlename[0] + '.' : '';
              return `${lastname} ${name} ${middlename}`;
            }
          }, {
            field: 'service',
            label: 'Услуга'
          }, {
            field: 'service_count',
            label: 'Количество дел'
          }];
        },
        _ticketChanged() {
          let fields = [];
          _.reduce(this.fields_to_show, (result, item) => {
            let value = item.transform ? item.transform(this.ticket) : this.ticket[item.field];
            result.push({
              value: value,
              label: item.label
            });
            return result;
          }, fields);
          this.fields = fields;
        }
      });
    })();
  </script>

</dom-module>