<link rel="import" href="ticket-view-default.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">


<dom-module id="ticket-view-stateful">
  <template>
    <style include="shared-styles"></style>
    <style>
      :host {
        display: block;
      }
    </style>

    <h2>
      <template is="dom-repeat" items="[[computePriororites(ticket)]]">
        <iron-icon icon="[[item]]"></iron-icon>
      </template>
      {{computeHeading(ticket)}}
    </h2>
    <ticket-view-default id="default" ticket="{{ticket}}"></ticket-view-default>

  </template>

  <script>
    (function() {
      'use strict';
      Polymer({
        is: 'ticket-view-stateful',
        properties: {
          ticket: {
            type: Object
          }
        },
        ready() {
          this.$.default.fields_to_show = this.$.default.fields_to_show.slice(1);
          this.state_list = {
            'registered': 'Ожидает',
            'called': 'Вызван',
            'processing': 'Обслуживается',
            'booked': 'Выдан, но не зарегистрирован'
          };
          this.icons_list = {
            veteran: "accessible",
            invalid: "star-border",
            manual_down: "arrow-downward"
          }
        },
        computePriororites(ticket) {

          let priorities = ticket ? ticket.priority || {} : {};

          return _.map(priorities, (p, name) => this.icons_list[name] ? this.icons_list[name] : 'arrow-upward');
        },
        computeHeading(ticket) {
          if (_.isEmpty(ticket)) return '';

          let value = this.state_list.hasOwnProperty(ticket.state) ? this.state_list[ticket.state] : 'undefined';

          return `${value} талон № ${ticket.label}`;
        }
      });
    })();
  </script>

</dom-module>