<link rel="import" href="../../../bower_components/paper-item/paper-item.html">

<dom-module id="ticket-view-detail">
  <template>
    <style include="shared-styles"></style>
    <style>
      :host {
        display: block;
      }

      .ticket-field {
        padding: 10px;
        font-weight: bold;
        color: #702c0c;
        min-width: 100px;
      }
      .ticket-field:after {
        content: ':';
      }

      paper-item {
        word-break: break-all;
      }

      .custom-field {
        text-transform: uppercase;
      }

    </style>
    <iris-shared-entities id="shared" namespace="services"></iris-shared-entities>

    <iris-ticket-status-bar ticket="[[ticket]]"></iris-ticket-status-bar>
    <template is="dom-repeat" items="{{fields}}" as="field">
      <paper-item tabindex="-1" hidden$="[[hasField(field)]]">
        <span class="ticket-field">{{field.label}}</span>
        {{field.value}}
      </paper-item>
    </template>

    <template is="dom-repeat" items="[[ticket.field_list]]" as="field">
      <paper-item tabindex="-1">
        <span class="ticket-field">[[field.label]]</span>
        <span class="custom-field">[[field.value]]</span>
      </paper-item>
    </template>

    <paper-icon-button icon="settings" on-tap="showSystemFields"></paper-icon-button>
    <iron-collapse id="collapse">
      <template is="dom-repeat" items="{{system_fields}}" as="field">
        <paper-item tabindex="-1" hidden$="[[hasField(field)]]">
          <span class="ticket-field">{{field.label}}</span>
          {{field.value}}
        </paper-item>
      </template>
    </iron-collapse>

  </template>

  <script>
    (function () {
      'use strict';
      Polymer({
        is: 'ticket-view-detail',
        properties: {
          ticket: {
            type: Object,
            observer: '_ticketChanged'
          }
        },
        ready() {
          this.state_list = {
            'registered': 'Ожидает',
            'called': 'Вызван',
            'processing': 'Обслуживается',
            'booked': 'Выдан, но не зарегистрирован',
            'expired': 'Просрочен',
            'closed': 'Закрыт',
            'removed': 'Удален'
          };

          this.system_fields_to_show = [
            {
              field: '@id',
              label: 'ID',
              transform: function (ticket) {
                if (!ticket)
                  return '';

                return _.isFunction(ticket.getId)
                  ? ticket.getId()
                  : ticket['@id'];
              }
            }
          ];
          this.fields_to_show = [
            {
              field: 'label',
              label: 'Номер'
            }, {
              field: 'code',
              label: 'Код талона'
            }, {
              field: 'service',
              label: 'Услуга',
              transform: (ticket) => {
                let service_id = ticket.service;
                let service = this.$.shared.get(service_id);
                return service
                  ? service.label
                  : service_id;
              }
            }, {
              field: 'state',
              label: 'Текущее состояние',
              transform: (ticket) => {
                if (!ticket)
                  return '';

                return this.state_list[ticket.state];
              }
            }, {
              field: 'priority',
              label: 'Приоритет',
              transform: (ticket) => {
                let priority = ticket.priority;

                return (_.sum(_.map(priority, 'value'))).toString();
              }
            }, {
              field: 'service_count',
              label: 'Количество дел'
            }, {
              field: 'prebook_time',
              label: 'Время обслуживания',
              transform: function (ticket) {
                if (!ticket || !ticket.prebook_time)
                  return '';
                let prebook_time = ticket.prebook_time;
                return prebook_time.start + " - " + prebook_time.end;
              }
            }, {
              label: "Пачка",
              field: "session",
              transform: function (ticket) {
                if (!ticket || !ticket.session)
                  return '';
                if (!ticket.pack_member)
                  return '';

                let session = ticket.session;
                return session.split('--')[1];
              }
            }

          ];
        },
        hasField(field) {
          return !field.value;
        },
        showSystemFields() {
          this.$.collapse.toggle();
        },
        _ticketChanged() {
          // console.log('Before transform:', this.ticket);
          if (_.isEmpty(this.ticket)) {
            this.set('fields', []);
            this.set('system_fields', []);
            return;
          }

          let description = this.ticket.user_info_description || {};

          let fields = this.transform(this.fields_to_show, description);
          let system_fields = this.transform(this.system_fields_to_show);

          this.set('fields', fields);
          this.set('system_fields', system_fields);

        },
        transform(field_map, description) {
          return _.map(field_map, (item) => {
            return {
              value: item.transform
                ? item.transform(this.ticket)
                : this.ticket[item.field],
              label: _.get(description, [item.field, 'label']) || item.label
            };
          });
        }
      });
    })();
  </script>

</dom-module>
