<link rel="import" href="../../../bower_components/paper-item/paper-item.html">

<dom-module id="ticket-view-register">
  <template>
    <style include="shared-styles"></style>
    <style>
      :host {
        display: block;
      }

      .ticket-field {
        padding: 10px;
        font-weight: bold;
        color: #702c0c;
        min-width: 100px;
      }
      .ticket-field:after {
        content: ':';
      }

      paper-item {
        word-break: break-all;
      }

    </style>
    <iris-shared-entities id="shared" namespace="services"></iris-shared-entities>

    <template is="dom-repeat" items="{{fields}}" as="field">
      <paper-item tabindex="-1" hidden$="[[hasField(field)]]">
        <span class="ticket-field">{{field.label}}</span>
        {{field.value}}
      </paper-item>
    </template>

    <template is="dom-repeat" items="{{_customFields(ticket)}}" as="field">
      <paper-item tabindex="-1">
        <span class="ticket-field">{{field.label}}</span>
        {{field.value}}
      </paper-item>
    </template>

  </template>

  <script>
    (function () {
      'use strict';
      Polymer({
        is: 'ticket-view-register',
        properties: {
          ticket: {
            type: Object,
            observer: '_ticketChanged'
          }
        },
        _customFields(ticket) {
          return _.reduce(ticket.user_info, (acc, item) => {
            if (item.hasOwnProperty('label')) {
              acc.push(item);
            }

            return acc;
          }, []);
        },
        ready() {

          this.fields_to_show = [
            {
              field: 'code',
              label: 'Код талона',
              transform: function (ticket) {
                if (!ticket) 
                  return '';

                let code = ticket.code || '';
                return code.length == 10
                  ? code.slice(0, 3) + '-' + code.slice(3)
                  : code;
              }
            }, {
              label: 'ФИО',
              field: 'fio',
              transform: function (ticket) {
                if (!ticket)
                  return '';
                let fio = ticket.user_info.fio;
                return _.map(_.split(fio, ' '), word => _.upperFirst(word)).join(' ');
              }
            }, {
              field: 'service',
              label: 'Услуга',
              transform: (ticket) => {
                let service_id = ticket.service;
                let service = this.$.shared.get(service_id);
                return service
                  ? service.label
                  : service_id;
              }
            }, {
              field: 'service_count',
              label: 'Количество дел'
            }, {
              field: 'prebook_time',
              label: 'Время и дата',
              transform: function (ticket) {
                if (!ticket || !ticket.prebook_time)
                  return '';
                let prebook_time = ticket.prebook_time;
                return ticket.dedicated_date + " " + prebook_time.start + " - " + prebook_time.end;
              }
            }
          ];
        },
        hasField(field) {
          return !field.value;
        },
        _ticketChanged() {
          // console.log('Before transform:', this.ticket);
          if (_.isEmpty(this.ticket)) {
            this.set('fields', []);
            this.set('system_fields', []);
            return;
          }
          let fields = this.transform(this.fields_to_show)
          let system_fields = this.transform(this.system_fields_to_show);

          this.set('fields', fields);
          this.set('system_fields', system_fields);

        },
        transform(field_map) {
          return _.map(field_map, (item) => {
            return {
              value: item.transform
                ? item.transform(this.ticket)
                : this.ticket[item.field],
              label: item.label
            };
          });
        }
      });
    })();
  </script>

</dom-module>
